# 由 Mecharion 渲染，请勿手工编辑
# Component: {{ .Component }}  Profile: {{ .Profile }}

MINIO_ROOT_USER={{ .Params.root_user }}
MINIO_ROOT_PASSWORD={{ .Params.root_password }}
MINIO_VOLUMES="{{ .Params.endpoints }}"
{{- if eq .Profile "distributed" }}
MINIO_ERASURE_SET_DRIVE_COUNT=4
{{- end }}
